/* Custom tabulator css because fitData doesn't work completely */
/* .tabulator-wrapper .tabulator-cell.tab-mono {
  font-family: 'Fira Mono', 'Menlo', 'Consolas', 'Liberation Mono', 'monospace';
} */
.tabulator-wrapper .tabulator-cell {
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  box-sizing: content-box;
}
.tabulator-wrapper .tabulator-header .tabulator-col {
  box-sizing: content-box;
  padding: 0.25rem 0.5rem;
}
